@font-face {
  font-family: 'HWBook';
  src: url('../assets/fonts/HoneywellSansWeb-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HWMedium';
  src: url('../assets/fonts/HoneywellSansWeb-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HWBold';
  src: url('../assets/fonts/HoneywellSansWeb-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HWExtraBold';
  src: url('../assets/fonts/HoneywellSansWeb-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
