.page-not-found {
    h3 {
        font-size: xx-large;
        text-align: center;
    }
    p {
        font-size: x-large;
        text-align: center;
    }
    .home-btn {
        display: block;
        text-align: center;
        font-size: large;
    }
}