@import '../../sass/variables';

/** Custom CSS for Modal ***/
.modal-dialog {
  .modal-body {
    max-height: $modal-overflow-height;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modal-footer {
    &.fix-footer {
      position: fixed;
      bottom: $modalBorder - 1;
      right: $modalBorder;
      width: inherit;
    }
  }
}
